--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
keplergl
leafmap
plotly
pyarrow
streamlit
streamlit-folium
streamlit-keplergl
sqlalchemy
openpyxl
pandas
numpy
rioxarray
rasterio
psycopg2
altair
shapely